## General

*.pyc
*.ipynb_checkpoints
__pycache__

*.npy
*.pkl

*.swp
*.swo

.envrc

## Project

*.pth
*live.ipynb
.idea

/output
/videos
/images
/latent
exp_log.md
*.patch

peginhole/blender
peginhole/assets/test
peginhole/assets/obj2stl*
peginhole/test_obj.py
peginhole/assets_cp
MUJOCO_LOG.TXT
