## General

*.pyc
*.ipynb_checkpoints
__pycache__

*.npy
*.pkl

*.swp
*.swo

.envrc

## Project

*.pth
*live.ipynb

/output
/output/**
/videos
.idea
exp_log.md


peginhole/blender
peginhole/assets/test
peginhole/assets/obj2stl*
peginhole/test_obj.py
MUJOCO_LOG.TXT
